<div class="dropdown relative inline-block" *ngFor="let menu of menuService.pagesMenu">
  <!-- Button -->
  <button
    [ngClass]="
      menu.selected || menu.active
        ? 'bg-[var(--primary)] text-[var(--primary-foreground)]'
        : 'text-[color:var(--muted-foreground)]/50 hover:bg-[var(--card)] hover:text-[var(--muted-foreground)]'
    "
    class="mr-2 inline-flex rounded-md px-3 py-2 text-sm font-medium transition-colors duration-200">
    <span>{{ menu.group }}</span>
  </button>

  <!-- Dropdown -->
  <div
    class="dropdown-content absolute top-[100%] min-w-[200px] origin-top-left z-10 bg-[var(--card)] text-[var(--card-foreground)] rounded-md shadow-lg border border-[var(--border)]"
    navbar-submenu
    [submenu]="menu.items">
  </div>
</div>
