<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="mx-auto px-4 py-6 sm:px-8">
        <!-- Routed page content should render inside (and the routed component will render its own card/table) -->
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
